# --- Java Build Artefacts ---
*.class
bin/

# --- IDE Settings ---
.vscode/
.idea/
.DS_Store
Thumbs.db
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
